@import url('http://fonts.cdnfonts.com/css/thegoodmonolith');

*{
    font-family: 'TheGoodMonolith', sans-serif;
}

.first-items,
.second-items {
    display: flex;
    flex-direction: row;
}
.info-items  {
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-items {
    display: flex;
    flex-direction: row;
}

a {
    margin: 0 5px;
    padding: 5px;
}

